/*
Aufgabe i)
----------
Benötigtes Attribut: id="container"
*/
#container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*
Aufgabe ii)
-----------
Benötigtes Attribut: id="container"
*/
#container {
    background-color: black;
}

/*
Aufgabe iii)
------------
Bei allen 3 Elementen benötigtes Attribut: class="padding"
*/
.padding {
    padding-left: 9px;
    padding-right: 9px;
}

/*
Aufgabe iv)
-----------
Benötigtes Attribut: id="grey"
*/
#grey {
    background-color: grey;
}
/*
Aufgabe v)
----------
*/
h1 {
    color: white;
}