<!-- Aufgabe i) -->
<!-- ---------- -->
<table>
    <tr>
        <td><img src="softball.jpg"></td>
        <td><img src="bodyboard.png"></td>
    </tr>
    <tr>
        <td><img src="bicycle.png"></td>
        <td><img src="surf.png"></td>
    </tr>
</table>