/*
Aufgabe i)
-----------
*/
html {
    background: #3366CC;
}

/*
Anstatt aufs html-Element, kann man die Hintergrundfarbe auch auf das body-Element
anwenden, das hat visuell den gleichen Effekt.
Ebenso kann man anstatt background auch das etwas spezifischere "background-color"
nutzen.
*/
body {
    background-color: #3366CC;
}

/*
Aufgabe ii)
-----------
*/
h3 {
    font-weight: bold;
    text-align: center;
}

/*
Aufgabe iii)
------------

Benötigtes HTML-Attribut:
class="bold"
*/
.bold {
    font-weight: bold;
}

/*
Wenn das ganze auf H1, H2, H3 und H4 Elemente beschränkt werden soll (nicht ganz klar aus der Aufgabe), dann so:
*/
h1.bold,
h2.bold,
h3.bold,
h4.bold {
    font-weight: bold;
}

/*
Aufgabe iv)
-----------

Benötigtes HTML-Attribut:
class="center"
*/
.center {
    text-align: center;
}

/*
Wenn das ganze auf H1, H2, H3 und H4 Elemente beschränkt werden soll (nicht ganz klar aus der Aufgabe), dann so:
*/
h1.center,
h2.center,
h3.center,
h4.center {
    font-weight: bold;
}